<section class="pop-message">
    <div class="message-box mobile-scale-m">
        <div class="tick-wrapper">
            <div class="tick">&check;</div>
        </div>
        <div class="meassage-head">Success!!</div>
        <div class="message p-message">OTP sent to your email</div>
        <div class="message-btn-wrapper">
            <button class="message-btn" onclick="closeMessage()">Ok</button>
        </div>
    </div>
</section>