<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TWP | OTP Verification</title>
    <link rel="stylesheet" href="/css/landing.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" />
    <link rel="shortcut icon" href="/images/twp_logo.jpg" type="image/x-icon">
</head>
<body>
    <%- include('./partials/nav.ejs') %>
    <%- include('./partials/preloader.ejs') %>
    <section class="main-otp">
        <form action="" id="otp-form">
            <div class="otph">OTP Verification</div>
            <div class="otp-subtext">Enter OTP code sent to Your Email</div>
            <div class="input-wrapper">
                <input type="number" name="input1" id="input1" oninput="moveCursor(1)" onkeyup="backspace(1)">
                <input type="number" name="input2" id="input2" oninput="moveCursor(2)" onkeyup="backspace(2)">
                <input type="number" name="input3" id="input3" oninput="moveCursor(3)" onkeyup="backspace(3)">
                <input type="number" name="input4" id="input4" oninput="moveCursor(4)" onkeyup="backspace(4)">
                <input type="number" name="input5" id="input5" oninput="moveCursor(5)" onkeyup="backspace(5)">
            </div>
            <div class="otp-bottom">
                <div>Didn't receive otp code ?</div>
                <div onclick="resendOTP()">Resend Code</div>
            </div>
            <button>Verify & Proceed</button>
        </form>
    </section>

    <%- include('./partials/popmessage.ejs') %>
    
    
    <%- include('./partials/footer.ejs') %>


    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>


    <script src="/js/landing.js"></script>
    <script src="/js/otp.js"></script>
</body>
</html>