<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TWP | Email Verification</title>
    <link rel="stylesheet" href="/css/landing.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" />
    <link rel="shortcut icon" href="/images/twp_logo.jpg" type="image/x-icon">
</head>
<body>
    <%- include('./partials/nav.ejs') %>
    <%- include('./partials/preloader.ejs') %>
    <section class="email-passrecovery-wrapper">
        <form action="" id="email-pass-recovery">
            <div class="heading">Forgot your password</div>
            <div class="details">Please enter the email address linked to your TWP account so you will receive ur otp</div>
            <div class="email-pass-recovery-wrapper">
                <label for="email">Enter email address</label>
            <br>
            <input type="email" name="email" class="recovery-email" required>
            <br>
            </div>
            <button>Request OTP</button>
            <div class="back-to-login"><a href="">Back to login</a></div>
        </form>
    </section>
    

    <%- include('./partials/popmessage.ejs') %>


    <%- include('./partials/footer.ejs') %>


    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>


    <script src="/js/landing.js"></script>
    <script src="/js/passemail.js"></script>
</body>
</html>