<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TWP | password reset</title>
    <link rel="stylesheet" href="/css/landing.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" />
    <link rel="shortcut icon" href="/images/twp_logo.jpg" type="image/x-icon">
</head>
<body>
    <%- include('./partials/nav.ejs') %>
    <%- include('./partials/preloader.ejs') %>
    <section class="email-passrecovery-wrapper">
        <form action="" id="pass-reset">
            <div class="heading">Reset your password</div>
            <div class="reset-pass-err"></div>
             <div class="pass-reset-wrapper">
                <label for="email">Enter new password</label>
            <br>
            <input type="password" name="password" class="password" required>
            <br>
            <br>
            <label for="email">Confirm new password</label>
            <br>
            <input type="password" name="confirmpass" class="confirmpass" required>
            <br>
            </div>
            <button>Submit</button>
        </form>
    </section>
    


    <%- include('./partials/popmessage.ejs') %>

    <%- include('./partials/footer.ejs') %>

    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>


    <script src="/js/landing.js"></script>
    <script src="/js/resetpassword.js"></script>
</body>
</html>