<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TWP Series Upload</title>
    <link rel="stylesheet" href="/css/landing.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" />
    <link rel="stylesheet" href="/css/admin.css">
    <link rel="shortcut icon" href="/images/twp_logo.jpg" type="image/x-icon">
    <style>
    .form-no .no:last-child{
        background-color: #ffcfc1;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--plain--);
    }
    .form-no .no:first-child{
        background-color: #e44616;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--plain--);
    }
    </style>
</head>
<body>
    <%- include('./partials/nav.ejs') %>
    <section class="main-upload">
        <div class="form-title">Series Upload Form</div>
        <% if(user){ %>
            <div class="form-no"> 
                <div class="no">1</div>
                <div class="no">2</div>
            </div>
        <% } %>
        <form id="upload-form">
            <div class="input-wrapper">
                <label for="title">Title:</label>
                <input type="text" id="title" name="title" required/>
            </div>
            <br>
            <div class="input-wrapper">
                <label for="author">Author:</label>
                <input type="text" name="author" class="author" id="author" required>
            </div>
            <br>
            <div class="input-wrapper">
                <label for="genre">Genre:</label>
                <select name="genre" id="genre" multiple>
                    <option value="romance">Romance</option>
                    <option value="supernatural">Supernatural</option>
                    <option value="thriller">Thriller</option>
                    <option value="comedy">Comedy</option>
                    <option value="scifi">Sci-fi</option>
                    <option value="miniservice">Mini Series</option>
                    <option value="horror">Horror</option>
                </select>
            </div>
            <br>
            <div class="input-wrapper">
                <div class="cover-image-label">Cover Image:</div>
                <label for="coverImage" class="replace">
                    <img src="/webtoonz/Coding is life4837530/coverImage.jpeg" class="cover-onchange" alt="">
                    <div class="overlay">
                        <p>Drag and drop or click here <br> to upload the cover image <br> 1200p x 720p</p>
                    </div>
                    <input type="file" id="coverImage" name="coverImage" class="cover" accept="image/*" onchange="changeImg()" required/>
                </label>
            </div>
            <br>
            <div class="input-wrapper">
                <label for="illustrator">Illustrator:</label>
                <input type="text" id="illustrator" name="illustrator" required/>
            </div>
            <br>
            <div class="textarea-wrapper">
                <label for="description">Description:</label>
                <textarea name="description" id="description" placeholder="Type here...." required></textarea>
            </div>
            <div class="btn">
                <button>Submit</button>
            </div>
            
        </form>
    </section>


    <%- include('./partials/popmessage.ejs') %>
    
    

    <%- include('./partials/footer.ejs') %>


    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>

    <script src="/js/landing.js"></script>
    <script>
        const disclaimer = `<%= message %>`
    </script>
    <script src="/js/adminseriesupload.js"></script>

    
</body>
</html>