<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Twp Episode upload form</title>
    <link rel="stylesheet" href="/css/landing.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" />
    <link rel="shortcut icon" href="/images/twp_logo.jpg" type="image/x-icon">
    <style>
        .form-no .no:last-child{
            background-color: #e44616;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            color: var(--plain--);
        }
        .form-no .no:first-child{
            background-color: var(--light-o--);
            width: 30px;
            height: 30px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            color: var(--plain--);
        }
    </style>
</head>
<body>
    <%- include('./partials/nav.ejs') %>

    <div class="episode-form-wrapper">
        <div class="form-title">Series Upload Form</div>
        <div class="form-no"> 
            <div class="no">1</div>
            <div class="no">2</div>
        </div>
        <form action="" id="episode-form" class="mobile-scale">
            <div class="input-wrapper">
                <label for="ep-title-t">SerieID:</label>
                <input type="text" id="series-id" name="seriesid" class="series-id" readonly>
            </div>
            <div class="input-wrapper">
                <label for="ep-title-t">Title:</label>
                <input type="text" id="ep-title" name="eptitle" class="ep-title" >
            </div>
            <br>
            <div class="input-wrapper">
                <div class="span">Cover image:</div>
                <label for="ep-cover" class="cover-label">
                    <input type="file" id="ep-cover" name="epcover" onchange="coverImgShow()" class="ep-cover" accept="image/*" required>
                    <img src="../public/images/list twp.PNG" class="ep-cover-img" alt="">
                    <div class="cover-overlay">
                        <p>Drag and drop or click here <br> to upload the cover image</p>
                    </div>
                </label>
            </div>
            <br>
            <div class="input-wrapper">
                <label for="pages">Pages:</label>
                <div class="page-imgs">
                    
                    
                </div>
                <div class="add-rm-btn">
                    <div class="add-page-btn" onclick="addNewPage()">Add new page</div>
                    <div class="remove-page-btn" onclick="removeNewPage()">Remove new page</div>
                </div>
            </div>
            <br>
            <div class="btn">
                <button>Upload</button>
            </div>
        </form>
    </div>

    <%- include('./partials/popmessage.ejs') %>
    

    <%- include('./partials/footer.ejs') %>


    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>

    <script src="/js/landing.js"></script>

    <script src="/js/userEpupload.js"></script>
</body>
