:root{
    --orange--: #e44616;
    --bg--: #abb8c3;
    --plain--: #ffff;
    --light-o--: #ffcfc1;
    scroll-behavior: smooth;
    --font---: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
::selection{
    color: #fff;
    background-color: #e44616;
}
body{
    background-color: var(--plain--);
}
.nav{
    position: sticky;
    top: 0px;
    padding: 0px 15px;
    height: 80px;
    padding: 10px;
    background-color: var(--plain--);
    z-index: 999;
    animation: fadeIn 1s ease-in-out alternate;
}
.left .logo{
    font-size: 40px;
    font-family: var(--font---);
    font-weight: 600;
    width: 80px;
    height: 80px;
    /* border-radius: 50px; */
    margin-left: 20px;
    overflow: hidden;
}
.logo img{
    width: 100%;
    height: 100%;
    border: 1px solid;
    transform: scale(2);
    /* border-radius: 50px; */
}
.logo .toon{
    color: var(--orange--);
}
.nav .right{
    float: right;
    margin-top: -60px;
    font-family: var(--font---);
}
.nav ul{
    list-style: none;
    display: flex;
    gap: 10px;
}
.nav ul li{
    padding: 5px 10px;
    cursor: pointer;
    font-family: var(--font---);
}
.nav ul .b{
    transition: 0.2s ease-in;
}
.nav ul .b:hover{
    border-bottom: 1px solid var(--orange--);
    color: var(--orange--);
}
.nav ul .b:hover a{
    color: var(--orange--);
}
.nav li a{
    text-decoration: none;
    color: #000;
}
.nav ul .btn a{
    color: var(--plain--);
}
.nav ul .btn{
    background-color: var(--orange--);
    border-radius: 20px;
    width: 50px;
    text-align: center;
    transition: 140ms ease-in;
}
.nav ul .btn:hover{
    box-shadow: 0px 0px 0px 5px var(--light-o--);
}
.genre-cover{
    position: relative;
    /* background-color: #e44616; */
}
.genre-cover .genre{
    margin: auto;
    background-color: var(--orange--);
    color: var(--bg--);
    width: 120px;
    /* height: 100px; */
    position: absolute;
    box-shadow: 0px 0px 2px 2px var(--light-o--);
    border-radius: 10px;
    padding: 10px 0px;
    top: 30px;
    left: 0;
    right: 0;
    z-index: -1;
    opacity: 0;
}
.genre-cover:hover .genre{
    z-index: 12;
    opacity: 1;
    animation: fadeIn 0.5s ease-in-out alternate;
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.genre-cover .genre .g{
    padding: 10px 5px;
    color: var(--light-o--);
    transition: 150ms ease-in;

    &:hover{
        border-left: 5px solid var(--plain--);
        color: var(--plain--);
        cursor: pointer;
    }
}
/* mobile nav */
.mobile{
    background-color: var(--plain--);
    width: 100%;
    height: 100vh;
    position: fixed;
    right: 0px;
    top: 60px;
    z-index: 200;
    animation: slidein 0.5s ease-in-out;
    display: none;
    box-shadow: 0px 0px 0px 3px var(--orange--);
}

@keyframes slidein {
    from{
        width: 0%;
        opacity: 1;
    }
    to {
        width: 100%;
        opacity: 1;
    }
}
.right .out{
    z-index: 1;
    margin-top: 30px;
}
.right .sm{
    position: absolute;
    top: 10px;
    right: 3px;
    width: 40px;
    height: 40px;
    cursor: pointer;

}

.right .sm .btn{
    width: 25px;
    height: 2px;
    background-color: var(--orange--);
    position: relative;
    top: 18px;
    left: 8px;
    z-index: 300;   
}
.right .sm .btn::before{
    content: '';
    position: absolute;
    height: 2px;
    width: 20px;
    background-color: var(--orange--);
    left: 0;
    top: 7px;
}

.right .sm .btn::after{
    top: -7px;
    content: '';
    position: absolute;
    height: 2px;
    width: 20px;
    background-color: var(--orange--);
    left: 0;
}
.mobile .menu,
.mobile .menu a{
    padding: 10px;
    height: 50px;
    text-align: center;
    cursor: pointer;
    border-bottom: 1px solid rgba(192, 190, 190, 0.171);
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #000;

    &:hover{
        background-color: var(--orange--);
        color: var(--plain--);
    }
}
.genre-mobile{
    position: relative;
    display: flex;
    justify-content: center;
}

.genre-mobile .sub-menu{
    position: absolute;
    top: 70px;
    left: 0;
    display: none;
    animation: slideDown 0.5s ease-in-out alternate;
    border-bottom: 1px solid var(--plain--);
}

@keyframes slideDown {
    from {
        height: 0px;
        opacity: 0;
    }
    to {
        height: 100%;
        opacity: 1;
    }
}

.genre-mobile .sub-menu .g{
    width: 350px;
    padding: 10px;
    height: 50px;
    text-align: center;
    cursor: pointer;
    background-color: var(--orange--);
    color: var(--plain--);

    &:hover{
        background-color: var(--light-o--);
        color: #000;
    }
}
.material-symbols-outlined{
    margin-top: 1px;
    transition: 0.5s ease-in;
}
.mobile-btn{
    display: none;
}
/* section main */
.main{
    margin: 0;
    width: 100%;
}
.bill{
    max-width: 1000px;
    height: 400px;
    margin: auto;
	overflow: hidden;
	box-shadow: 0px 0px 10px 1px #27272742;
    border-radius: 10px;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 400px;
    /* object-fit: cover; */
    mix-blend-mode: var(--light-o--);
}
.intro-bill-img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain !important;
    background-color: #f4f2f2;
}
.slide-overlay{
    position: absolute;
    top: 0;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.234);
    height: 100%;
    width: 100%;
    font: var(--font---);
}
.slide-overlay .title{
    padding: 5px;
    color: #fff;
    word-wrap: break-word;
    text-transform: capitalize;
    font-size: 35px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
}
.slide-overlay .genre{
    font-size: 14px;
}
.slide-overlay .btn{
    position: absolute;
    right: -5px;
    bottom: 30px;
    width: 70px;
    height: 25px;
    padding: 4px;
    background-color: #fff;
}
.slide-overlay .btnU{
    padding: 5px 10px;
    width: 100px;
    height: 25px;
    background-color: #e44616;
    color: #fff;
    border-radius: 20px;
    
    animation: blink 1.5s ease infinite;
}
@keyframes blink {
    from{
        box-shadow: 0px 0px 0px 5px var(--light-o--);
    }
    to{
        box-shadow: 0px 0px 0px 0px transparent;
    }
}
.slide-overlay .banner-btn-wrapper{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}
.slide-overlay a{
    text-decoration: none;
    text-transform: capitalize;
    color: var(--orange--);
}

@media (max-width: 500px) {
    .slide-overlay .title{
        font-size: 20px;
    }
}

.main{
    padding: 20px 0px;
}
.main .recent{
    position: relative;
    margin-top: 10px;
    padding: 10px;
}
.recent .title{
    margin: auto;
    padding: 10px;
    font-size: 30px;
    text-align: center;
    color: var(--orange--);
    font-family: var(--font---);
    font-weight: 600;
    max-width: 300px;
    display: flex;
}
.recent .title hr{
    width: 100px;
    height: 0px;
}
.recent .R{
    border-radius: 20px;
    width: 250px;
    padding: 2px 10px;
    border: 1px solid;
    font-size: 22px;
}
.recent .C{
    border-radius: 20px;
    width: 250px;
    padding: 2px 10px;
    border: 1px solid;
    font-size: 20px;
}

.recent .container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}
/* .recent .container:hover > :not(:hover){
    opacity: 0.3;
} */
.webToon{
    width: 130px;
    padding: 1px;
    margin-top: 30px;
    /* background-color: rgba(247, 247, 247, 0.623); */
    border: 1px solid rgba(243, 241, 241, 0.61);
}
.webToon .img-cover{
    height: 160px;
    overflow: hidden;
    /* box-shadow: 0px 4px 5px 1px #4141413f; */
}
.webToon .img-cover img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.webToonDetails{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 10px;
    /* padding-left: 2px; */
    /* padding-right: 2px; */
    padding-bottom: 5px;
}
.webToonDetails .name a{
    color: #2b2a2a;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.webToonDetails span{
    color:  gray;
    width: 100%;
    word-wrap: break-word;
    font-size: 12px;
}
.container .Rwebtoonz{
    background-color: var(--orange--);
    width: 120px;
    height: 200px;
    overflow: hidden;
    position: relative;
    border-radius: 8px;
    border: 1px solid grey;
    transition: 0.3s ease;
    animation: resize 1s ease-in;
}
@media (min-width: 768px) { 
    .flex-container {
      flex-wrap: nowrap; 
    }
  }
.container .Rwebtoonz:hover{
    box-shadow: 0px 0px 10px 1px #27272772;
}
.Rwebtoonz .overlay{
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    background-color: rgba(27, 27, 27, 0.37);
    transition: 0.3s ease;
}
.Rwebtoonz .overlay:hover{
    opacity: 0;
}
.box-image{
    width: 100%;
    height: 100%;
}
.box-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.box-text{
    position: absolute;
    bottom: 0;
    width: 100%;
    /* padding-left: 10px; */
    text-align: left;
    color: #fcf5f5;
    font-weight: 600;
    background-color: rgba(27, 27, 27, 0.37);
    border-top: 1px solid grey;
    line-height: 15px;
}
.box-text .name a{
    font-size: 13px;
    text-decoration: none;
    color: #fcf5f5;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    word-wrap: none;
    padding: 1px;
    line-height: 2px;
}
.box-text .ev .genres{
    color: var(--orange--);
    font-size: 11px;
}
.recent .more{
    margin: auto;
    width: 200px;
    text-align: center;
    padding: 10px;
    margin-top: 40px;
    
}

.recent .more a{
    /* text-decoration: none; */
    color: var(--orange--);
    font-size: 17px;
    font-family: var(--font---);
    font-weight: 600;
}

/* scripture part */
.scriptures{
    background-color: var(--orange--);
    padding: 20px 10px;
    /* height: 50px; */
    color: #fff;
    /* width: 80%; */
    max-width: 1000px;
    margin: auto;
}
.scriptures .title{
    /* background-color: red; */
    width: 300px;
    text-align: center;
    padding: 10px;
    margin: auto;
    font-style: italic;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
}
.scriptures .bible,
.bible-v{
    margin: auto;
    padding: 10px;
    text-align: center;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    font-size: 17px;
}
/***********footer styles*****************/
.author-url{
    text-decoration: none;
    color: grey;
}
.footer{
    margin-top: 100px;
    /* height: 130px; */
}

.footer .socials{
    display: flex;
    justify-content: center;
    padding: 10px;
    gap: 10px;
    cursor: pointer;
}

.footer .fb{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    object-fit: contain;
    object-position: center;
    overflow: hidden;
    transition: 0.2s ease-in;
}
.footer .fb:hover{
    scale: 1.2;
}
.footer .fb img{
    width: 100%;
    height: 100%;
}
.copyrite{
    text-align: center;
    color: grey;
}
.mobile-btn .profile{
    background-color: var(--plain--);
    /* padding: 10px; */
    position: relative;
    right: 50px;
    top: 13px;
    display: flex;
    border-radius: 20px;
    border: 1px solid var(--orange--);
    cursor: pointer;
}
.right .profile{
    background-color: var(--plain--);
    position: relative;
    display: flex;
    border-radius: 20px;
    border: 1px solid var(--orange--);
    cursor: pointer;
    width: 70px;
}
.mobile-btn .profile .acc-image,
.right .profile .acc-image{
    width: 30px;
    height: 30px;
    border: 1px solid var(--orange--);
    border-radius: 50%;
    overflow: hidden;
}
.mobile-btn .profile .acc-image img,
.right .profile .acc-image img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: contain;
    object-position: center;
}
.mobile-btn .profile .text,
.right .profile .text{
    padding: 6px;
}

/* pass-recovery-email-input */
.email-passrecovery-wrapper{
    height: 90vh;
}
#email-pass-recovery{
    width: 400px;
    height: 350px;
    padding: 15px;
    margin: auto;
    box-shadow: 0px 0px 10px -1px #0000006c;
    margin-top: 60px;
    border-radius: 10px;
}
#email-pass-recovery .heading{
    font-size: 30px;
    padding: 8px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#email-pass-recovery .details{
    padding: 10px 8px;
    font-size: 15px;
    color: gray;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#email-pass-recovery .email-pass-recovery-wrapper{
    padding: 10px 10px 30px 10px;
}
#email-pass-recovery .email-pass-recovery-wrapper input{
    padding: 10px;
    width: 360px;
    height: 20px;
    outline: none;
    border-radius: 5px;
    border: 2px solid var(--orange--);
    font-size: 15px;
    font-weight: 700;
}
#email-pass-recovery .email-pass-recovery-wrapper label{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 13px;
    color: gray;
}
#email-pass-recovery button{
    padding: 15px;
    width: 360px;
    margin-left: 20px;
    background-color: var(--orange--);
    color: var(--plain--);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s ease-in;

    &:hover{
        box-shadow: 0px 0px 0px 5px var(--light-o--);
    }
}
#email-pass-recovery .back-to-login{
    text-align: center;
    padding: 15px;
    margin-top: 10px;
}
#email-pass-recovery .back-to-login a{
    color: var(--orange--);
}
/* popup message */
.pop-message{
    position: fixed;
    top: 0;
    left: 0;
    padding: 10px;
    width: 100%;
    height: 100%;
    background-color: #0000006c;
    z-index: 999;
    display: none;
}
.pop-message .message-box{
    background-color: var(--plain--);
    width: 400px;
    padding: 15px 10px;
    border-radius: 10px;
    height: 250px;
    margin: auto;
    z-index: 900;
    margin-top: 150px;
    animation: expand 0.5s ease-in-out;
    box-shadow: 0px 0px 10px -1px #0000006c;
}
@keyframes expand {
    from{
        scale: 0;
    }
    to{
        scale: 1;
    }
}
.pop-message .message-box .tick-wrapper{
    padding: 10px;
}
.pop-message .message-box .tick-wrapper .tick{
    margin: auto;
    border: 3px solid;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    color: var(--orange--);
}
.pop-message .message-box .meassage-head{
    font-size: 25px;
    text-align: center;
    font-weight: 700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.pop-message .message-box .message{
    padding: 10px;
    text-align: center;
    color: rgb(86, 86, 86);
    font-weight: 700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.pop-message .message-box .message-btn-wrapper{
    padding: 10px;
    text-align: center;
}
.pop-message .message-box .message-btn-wrapper button{
    padding: 10px;
    width: 100px;
    border: none;
    color: var(--plain--);
    background-color: var(--orange--);
    margin: auto;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
    transition: 0.2s ease-in;

    &:hover{
        box-shadow: 0px 0px 0px 5px var(--light-o--);
    }
}
/* adding scriptures */
.add--scrip-container{
    background-color: rgba(240, 248, 255, 0.137);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: none;
    z-index: 999;
}
.add--scrip-container form{
    scale: 0.9;
}
.add--scrip-container h3{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.add-scrip-input-wrapper{
    display: flex;
    width: 300px;
    height: 40px;
}
.add--scrip-container form{
    padding: 20px;
    background-color: #fff;
    box-shadow: 5px 5px 10px -2px ;
    border-radius: 10px;
    position: relative;
    animation: expand 0.5s ease-in-out;
}
.add-scrip-input{
    padding: 5px;
    width: 80%;
    outline: none;
    font-weight: 500;
    font-size: 16px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 1px solid grey;
}
.add-scrip-label{
    padding: 4px;
    width: 20%;
    background-color: #e44616;
    color: #fff !important;
    display: flex;
    align-items: center;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.word-wrapper{
    display: flex;
    flex-direction: column;
}
.add--scrip-container .btn-wrapper{
    position: relative;
    height: 40px;
}
.add--scrip-container button{
    margin: auto;
    padding: 10px;
    width: 120px;
    cursor: pointer;
    box-shadow: none;
    background-color: #e44616;
    border: none;
    color: #fff;
    transition: 0.3s all ease;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 700;
    font-size: 15px;
    position: absolute;
    right: 0;
    border-radius: 10px;
    z-index: 999;
}
.add--scrip-container .message{
    font-size: 13px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.add--scrip-container button:hover{
    background-color: #ffffff;
    border: 1px solid grey;
    color: grey;
}
.add--scrip-container .word-wrapper textarea{
    padding: 10px;
    font-size: 16px;
    font-weight: 700;
    resize: vertical;
    min-height: 100px;
    max-height: 300px;
    outline: none;
    border-radius: 10px;
    border: 1px solid grey;
}
.add--scrip-container label{
    font-size: 17px;
    font-weight: 700;
    color: #e44616;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.add--scrip-container .close{
    font-size: 30px;
    font-weight: 700;
    font-family: 'Courier New', Courier, monospace;
    position: absolute;
    right: 11px;
    top: 5px;
    cursor: pointer;
}
.something{
    position: absolute;
    transform: rotate(300deg);
    left: 0;
    animation: falling 7s ease-in-out infinite;
}
@keyframes falling {
    0%{
        opacity: 0;
        transform: rotate(0deg);
        transform: translateY(-90px);
    }

    10%{
        opacity: 1;
        transform: rotate(0deg);
        transform: translateY(-80px);
    }

    90%{
        transform: rotate(0deg);
        transform: translateY(300px);
    }
    
    100%{
        transform: rotate(360deg);
        opacity: 0;
    }
}

/* signup and login */
.auth-body{
    height: 70vh;
    display: flex;
    justify-content: center;
}
.auth-body .auth-wrapper{
    width: 700px;
    height: 380px;
    margin: auto;
    position: relative;
    display: flex;
    box-shadow: 0px 0px 10px -1px #0000006c;
    border-radius: 10px;
    overflow: hidden;
}
.auth-body .auth-wrapper .signup,
.auth-body .auth-wrapper .login{
    height: 100%;
    width: 400px;
    border-right: none;
    background-color: var(--plain--);
    text-align: center;
    display: flex;
    flex-direction: column;
}
#signup,
#login{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
    height: 50%;
}
#login{
    gap: 5px;
}
.heading{
    padding: 20px 10px;
    font-size: 30px;
    margin-top: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.dob-container{
    /* border: 1px solid #000; */
    display: flex;
    width: 74%;
    margin-left: 48px;
}

.dob-container label{
    width: 40%;
    padding: 10px;
    border-bottom: 1px solid #e4e3e3;
    border-top: 1px solid #e4e3e3;
    border-left: 1px solid #e4e3e3;
}
.dob-container input{
    width: 50%;
}
#signup input,
#login input{
    padding: 10px;
    width: 70%;
    margin: auto;
    background-color: #e4e3e3;
    border: none;
    outline: none;

    &::placeholder{
        color: #000;
    }
}
#signup button,
#login button{
    padding: 8px 10px;
    width: 130px;
    margin: auto;
    border-radius: 20px;
    border: none;
    background-color: var(--orange--);
    color: var(--plain--);
}
.evry{
    height: 20%;
    position: relative;
    /* top: 30px; */
    /* background-color: #abb8c3; */
}
#signup .err-mess,
#login .err-mess{
    position: relative;
    color: red;
    font-size: 13px;
    /* margin-top: -5px; */
}
.auth-body .mini .mini-login,
.auth-body .mini .mini-signup{
    height: 100%;
    width: 100%;
    border-right: none;
    background-color: var(--plain--);
    text-align: center;
    display: flex;

    flex-direction: column;
}
.auth-body .mini.m-signup{
    display: block;
    width: 400px;
    height: 480px;
    margin: auto;
    position: relative;
    display: flex;
    box-shadow: 0px 0px 10px -1px #0000006c;
    border-radius: 10px;
    overflow: hidden;
}
.auth-body .mini.m-login{
    display: block;
    width: 400px;
    height: 420px;
    margin: auto;
    position: relative;
    display: flex;
    box-shadow: 0px 0px 10px -1px #0000006c;
    border-radius: 10px;
    overflow: hidden;
}
button{
    cursor: pointer !important;
}
.terms-agree{
    font-size: 12px;
    cursor: pointer;
}
.terms-agree:hover{
    text-decoration: underline;
}
.mini .message{
    display: none;
}
.links{
    display: block;
    font-size: 13px;
    color: var(--orange--);
}
/* .link-underline{
    text-decoration: underline;
} */
.tandc-wrapper input{
    width: 10px !important;
    cursor: pointer;
    position: relative;
    top: 2px;
}
.tandc-wrapper a{
    color: var(--orange--);
    font-size: 13px;
    text-decoration: none;
}
.tandc-wrapper a:hover{
    text-decoration: underline;
}
.pass-input-container{
    position: relative;
}
.pass-input-container span{
    position: absolute;
    top: 0;
    right: 12.5%;
    background-color: #ddd;
    padding-right: 5px;
    padding-left: 5px;
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
}
/* password-reset styles */
#pass-reset{
    width: 400px;
    height: 380px;
    padding: 15px;
    margin: auto;
    box-shadow: 0px 0px 10px -1px #0000006c;
    margin-top: 60px;
    border-radius: 10px;
}
#pass-reset .heading{
    font-size: 30px;
    padding: 8px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#pass-reset .details{
    padding: 10px 8px;
    font-size: 15px;
    color: gray;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#pass-reset .pass-reset-wrapper{
    padding: 10px 10px 30px 10px;
}
#pass-reset .pass-reset-wrapper input{
    padding: 10px;
    width: 360px;
    height: 20px;
    outline: none;
    border-radius: 5px;
    border: 2px solid grey;
    font-size: 15px;
    font-weight: 700;
}
#pass-reset .pass-reset-wrapper label{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 13px;
    color: gray;
}
#pass-reset button{
    padding: 15px;
    width: 360px;
    margin-left: 20px;
    background-color: var(--orange--);
    color: var(--plain--);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s ease-in;

    &:hover{
        box-shadow: 0px 0px 0px 5px var(--light-o--);
    }
}
#pass-reset .back-to-login{
    text-align: center;
    padding: 15px;
    margin-top: 10px;
}
#pass-reset .back-to-login a{
    color: var(--orange--);
}
#pass-reset .reset-pass-err{
   padding: 8px;
    color: red;
}
/* otp page styles */
.main-otp{
    width: 100%;
    height: 100vh;
}
#otp-form{
    background-color: var(--plain--);
    width: 300px;
    margin: auto;
    margin-top: 50px;
    height: 400px;
    padding: 50px;
    text-align: center;
    box-shadow: 0px 0px 10px -1px #0000006c;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: grey;
}
#otp-form .otph{
    font-size: 35px;
    font-weight: 800;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: var(--orange--);
}
#otp-form .input-wrapper{
    padding: 20px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
#otp-form .input-wrapper input{
    width: 35px;
    border: none;
    height: 35px;
    padding:  5px;
    text-align: center;
    font-size: 20px;
    background-color: #abb8c3;
    border-radius: 10px;
    outline: none;

    &:focus{
      outline: 1px solid var(--orange--);  
    }

}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]{
    -webkit-appearance: none;
    -moz-appearance: textfield;
}
.otp-bottom{
    padding: 10px;
}
.otp-bottom div:first-child{
    padding: 10px;
    color: gray;
}
.otp-bottom div:last-child{
    color: var(--orange--);
    font-weight: 700;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    cursor: pointer;
    font-size: 18px;

    &:hover{
        text-decoration: underline;
    }
}
#otp-form button{
    padding: 10px;
    border: none;
    width: 200px;
    height: 40px;
    background-color: var(--orange--);
    color: var(--plain--);
    margin-top: 10px;
    cursor: pointer;
    border-radius: 20px;
    transition: 0.2s ease-in;

    &:hover{
        box-shadow: 0px 0px 0px 5px var(--light-o--);
    }
}
/* author page */
.author .author-nav{
    width: 100%;
    height: 50px;
    background-color: var(--orange--);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 0px;
}
.author .author-nav .nav-item{
    color: var(--plain--);
    font-family: var(--font---);
    font-size: 25px;
    font-weight: 700;
}
.author .author-nav .author-upload-btn{
    position: absolute;
    right: 10px;
    border: 1px solid var(--plain--);
    padding: 5px;
    color: #000;
    background-color: var(--plain--);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    cursor: pointer;
    text-decoration: none;

    &:hover{
        scale: 1.04;
    }
}
.author .author-nav .author-upload-btn span{
    color: var(--orange--);
}
.author .cards{
    overflow: scroll;
    display: flex;
    flex-wrap: wrap;
    justify-items: center;
}
.author .cards::-webkit-scrollbar{
    display: none;
}
.author .cards .card{
    background-color: var(--orange--);
    width: 150px;
    height: 200px;
    overflow: hidden;
    position: relative;
    box-shadow: 0px 0px 10px -1px #0000006c;
    transition: 0.2s ease-out;
    border-radius: 10px;

    &:hover{
        transform: scale(1.1);
    }
}
.author .cards .card img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: center;
}
.author .cards .card .text{
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: left;
    color: #fcf5f5;
    /* font-weight: 600; */
    background-color: rgba(19, 18, 18, 0.679);
    word-wrap: break-word;
    padding: 5px;
    font-size: 14px;
}

/*==============list page style=================*/
.genre-wrapper{
    background-color: var(--orange--);
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 10px;
}
.genre-wrapper .genre{
    padding: 10px;
    font-size: 35px;
    text-align: center;
    font-family: var(--font---);
    font-weight: 700;
    color: var(--plain--);
}
.list-filters{
    position: relative;
    display: flex;
    gap: 10px;
    /* text-align: center; */
}
.list-filters .filter-one,
.list-filters .filter-three{
    border: 1px solid var(--plain--);
    width: 90px;
    padding: 5px;
    cursor: pointer;
    font-family: var(--font---);
    color: var(--plain--);
    border-radius: 20px;
}
.list-filters .type{
    left: 10px;
}
.r-values{
    position: absolute;
    border-radius: 20px;
    background-color: var(--plain--);
    box-shadow: 1px 3px 10px -1px grey;
    overflow: hidden;
    top: 35px;
    display: none;
    z-index: 1;
}
.show-drop{
    display: block;
}
.search-error{
    width: 400px;
    max-width: 400px;
    text-align: center;
    margin: auto;
}
.genrez{
    left: 80px;
    width: 150px;
}
.r-values .values{
    padding: 10px;
    border-bottom: 1px solid rgb(233, 230, 230);
}
.r-values .values input{
    float: right;
    cursor: pointer;
}
.list-filters .filter-two{
    border: 1px solid var(--plain--);
    width: 90px;
    padding: 5px;
    cursor: pointer;
    font-family: var(--font---);
    color: var(--plain--);
    border-radius: 20px;
}
.genre-wrapper .search{
    background-color: #fff;
    width: 90%;
    max-width: 350px;
    padding-left: 10px;
    height: 40px;
    margin: auto;
    display: flex;
    /* border-radius: 20px; */
}
.genre-wrapper .search input{
    width: 80%;
    border: none;
    border-radius: 20px;
    padding: 10px;
    font-size: 16px;
    font-family: var(--font---);
    outline: none;
}
.genre-wrapper .search .S-icon{
    background-color: #ffcfc1;
    width: calc(100% - 80%);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--plain--);
    border: 1px solid #fff;
    background-color: var(--orange--);
    /* border-top-right-radius: 20px;
    border-bottom-right-radius: 20px; */
    transition: 0.3s ease-in;

    &:hover{
        color: var(--orange--);
        background-color: var(--plain--);
        border: 1px solid var(--orange--);
    }
}
.webtoon-preloader{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 100%;
    flex-direction: column;
}
.webtoon-preloader p{
    color: gray;
}

.webtoon-preloader p span{
    text-decoration: underline;
    color: rgb(25, 25, 253);
    font-style: italic;
    cursor: pointer;
}
.cards{
    padding: 10px 0px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    /* height: 800px; */
}
.cards::-webkit-scrollbar{
    display: none;
}
.cards .card{
    background-color: var(--orange--);
    width: 110px;
    height: 200px;
    max-height: 200px;
    overflow: hidden;
    position: relative;
    box-shadow: 0px 0px 10px -1px #0000006c;
    transition: 0.2s ease-out;
    border-radius: 10px;
}
.cards .card:hover{
    transform: scale(1.1);
}
.cards .card img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: center;
}
.cards .card .text{
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: left;
    color: #fcf5f5;
    font-weight: 600;
    background-color: rgba(19, 18, 18, 0.562);
    word-wrap: break-word;
    padding: 5px;
}
/********************preloader-css****************/
.preloader-container{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--plain--);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 999;
}
.spinner {
  width: 40px;
  height: 40px;
  background-color: var(--orange--);
  -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
  animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
  0% { -webkit-transform: perspective(120px) }
  50% { -webkit-transform: perspective(120px) rotateY(180deg) }
  100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes sk-rotateplane {
  0% { 
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg) 
  } 50% { 
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg) 
  } 100% { 
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}

/*******************episode upload form***************/
.form-title{
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-size: 30px;
    background-color: var(--orange--);
    color: var(--plain--);
}
.form-no{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px;
}
.episode-form-wrapper #episode-form{
    background-color: #e44616;
    color: var(--plain--);
    padding: 20px 10px;
    width: 90%;
    max-width: 400px;
    margin: auto;
    overflow: hidden;
    position: relative;
}
.episode-form-wrapper #episode-form .close{
    position: absolute;
    top: 0;
    right: 1px;
    font-size: 30px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    transition: 0.2s ease;

    &:hover{
        scale: 1.3;
    }
}
.episode-form-wrapper #episode-form .input-wrapper{
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 300px;
    width: 80%;
}
.episode-form-wrapper #episode-form .input-wrapper #ep-title{
    padding: 10px;
    max-width: 300px;
    position: relative;
    right: 0px;
    outline: none;
    border: 1px solid grey;
}
.episode-form-wrapper #episode-form .input-wrapper .cover-label{
    max-width: 300px;
    height: 100px;
    border: 1px dotted;
    padding: 1px;
    position: relative;
    cursor: pointer;
}
.episode-form-wrapper #episode-form .input-wrapper .cover-label img{
    width: 100%;
    height: 100%;
}
.episode-form-wrapper #episode-form .input-wrapper .cover-label .cover-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.315);
    color: var(--plain--);
    font-size: 15px;
    font-weight: 700;
}
.episode-form-wrapper #episode-form .input-wrapper .cover-label input{
    display: none;
}
.episode-form-wrapper #episode-form .input-wrapper .page-imgs{
    border: 1px solid;
    max-width: 300px;
    height: 210px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(150px));
    column-gap: 0.5rem;
    row-gap: 2.5rem;
    justify-items: center;
    gap: 10px;
    padding: 10px;
    overflow: scroll;

    &::-webkit-scrollbar{
        display: none;
    }
}
.episode-form-wrapper #episode-form .input-wrapper .add-rm-btn .add-page-btn{
    background-color: var(--plain--);
    color: var(--orange--);
    padding: 5px;
    cursor: pointer;
    border: 1px solid var(--plain--);
    border-bottom: 1px solid var(--orange--);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transition: 0.3s ease;

    &:hover{
        color: var(--plane--);
        background-color: var(--orange--);
    }
}
.episode-form-wrapper #episode-form .input-wrapper .add-rm-btn .remove-page-btn{
    background-color: var(--plain--);
    color: var(--orange--);
    padding: 5px;
    cursor: pointer;
    text-align: right;
    border: 1px solid var(--plain--);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transition: 0.3s ease;

    &:hover{
        color: var(--plane--);
        background-color: var(--orange--);
    }
}
.episode-form-wrapper #episode-form .input-wrapper .page-imgs label{
    width: 100px;
    height: 100px;
    border: 1px dotted;
    position: relative;
}
.episode-form-wrapper #episode-form .input-wrapper .page-imgs label img{
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
}
.episode-form-wrapper #episode-form .input-wrapper .page-imgs label input{
    display: none;
}
.episode-form-wrapper #episode-form .input-wrapper .page-imgs label .page-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.315);
    color: var(--plain--);
    font-size: 15px;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.episode-form-wrapper #episode-form .input-wrapper .page-imgs label .page-overlay div{
    background-color: rgba(255, 255, 255, 0.89);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    color: var(--orange--);
}
.episode-form-wrapper #episode-form .btn{
    display: flex;
    justify-content: center;
    align-items: center;

}
.episode-form-wrapper #episode-form .btn button{
    padding: 10px;
    margin: auto;
    width: 150px;
    background-color: var(--plain--);
    border: 1px solid var(--plain--);
    color: var(--orange--);
    cursor: pointer;
    /* border-radius: 20px; */
    transition: 0.3s ease-in-out;

    &:hover{
        background-color: var(--orange--);
        border-radius: 20px;
        color: var(--plain--);
    }
}

/***********404 page***************/
.main-404{
    /* border: 1px solid; */
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}
.main-404 .title{
    color: var(--orange--);
    font-size: 150px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main-404 .title .err{
    font-size: 20px;
    /* margin-top: 100px; */
}
.main-404 .message{
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
}
.main-404 .btn{
    display: flex;
    gap: 10px;
}
.main-404 .btn button{
    padding: 10px;
    width: 100px;
    cursor: pointer;
    color: var(--plain--);
    background-color: var(--orange--);
    border: none;
    border-radius: 20px;


    &:hover{
        box-shadow: 0px 0px 0px 5px var(--light-o--);
    }
}

/* .mobile-display{
    display: block;
} */

/***********comment section styles********/
.comment-section {
    width: 96%;
    padding: 5px;
    height: 440px;
    /* background: #fff; */
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    display: none;
}

.comment-section h2 {
    margin-bottom: 20px;
    color: #333;
}

#comments-list {
    margin-bottom: 20px;
    overflow: scroll;
    height: 300px;
    position: relative;
    color: #fff;
}

#comments-list::-webkit-scrollbar{
  display: none;
}

#comments-list  .comment {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    /* background: #f9f9f9; */
    position: relative;
}

#comments-list  .comment .delete-icon{
    position: absolute;
    bottom: 5px;
    right: 5px;
    font-size: 19px;
}

.user-comment {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #e44616 !important;
    border-radius: 5px;
    /* background: #f9f9f9; */
}

.comment .user {
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    margin-bottom: 5px;
}

.comment .content {
    padding: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    word-wrap: break-word;
    line-height: 20px;
}

.add-comment {
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.add-comment textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    resize: none;
    height: 30px;
    outline: none;
}

.add-comment #post-comment {
    width: 50px;
    padding: 10px;
    border: none;
    background: #e44616;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    transition: 0.3s ease-in-out;
}

/*******about us********/
.about-section {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    /* color: #e44616; */
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 5px;
}

.about-title {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: -2rem;
  max-width: 600px;
  color: #e44616;
}

.about-content {
  margin-top: 3rem;
  /* width: 500px; */
  max-width: 600px;
}

.about-item {
  margin-bottom: 3rem;
}

.about-heading {
  font-size: 1.75rem;
  font-weight: 600;
  margin-bottom: 1rem;
  color: #e44616;
}

.about-text {
  font-size: 1.125rem;
  line-height: 1.75;
  text-align: justify !important;
  text-justify: kashida;
}

.contact-section {
  background-color: #e44616; 
  color: white;
  padding: 4rem 1.5rem;
  text-align: center;
  max-width: 700px;
  margin: auto;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.contact-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

.contact-info {
  margin-bottom: 3rem;
}

.contact-description {
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

.contact-email {
  font-size: 1.125rem;
  font-weight: 500;
}

.contact-link {
  text-decoration: underline;
  color: white;
}

.contact-link:hover {
  color: #FFB74D;
}

.contact-form {
  margin-top: 3rem;
}

.contact-form-title {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
}

.contact-form-fields {
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.contact-form-fields .form-group {
  text-align: left;
}

.contact-form-fields .form-group label {
  font-size: 1rem;
  margin-bottom: 0.5rem;
  display: block;
}

.contact-form-fields .form-input {
  width: 96%;
  padding: 0.75rem;
  border-radius: 0.5rem;
  border: 1px solid #FF6F00;
  background-color: white;
}

.contact-form-fields .form-input:focus {
  border-color: #FFB74D;
  outline: none;
}

/* Submit Button */
.form-submit-btn {
  background-color: white;
  color: var(--orange--);
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.form-submit-btn:hover {
  background-color: #FFB74D;
  color: white;
}
@keyframes fly-past {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(100vw);
    }
    51% {
        transform: translateX(-100vw);
    }
    100% {
        transform: translateX(0);
    }
}

.fly {
    animation: fly-past 1.5s ease-in-out;
}

/*******************items page***************/
.item-main .banner{
    background-color: var(--orange--);
    height: 400px;
    max-width: 1000px;
    margin: auto;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
}
.item-main .banner img{
    height: 400px;
    width: 100%;
    /* object-fit: contain; */
}
.item-main .banner .img-blur{
    position: absolute;
    top: 0;
    background-color: rgba(26, 25, 25, 0.205);
    width: 100%;
    height: 100%;
    color: var(--plain--);
}
.item-main .banner .img-blur .details{
    padding: 10px;
}
.item-main .banner .img-blur .details .socials .subscribe{
    width: 120px;
    height: 30px;
    text-align: center;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s ease-in-out;

    &:hover{
        scale: 1.1;
    }
}
.item-main .banner .img-blur .details .socials .addEpisode{
    background-color: #000;
    color: var(--plain--);
    width: 120px;
    height: 30px;
    text-align: center;
    border-radius: 20px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s ease-in-out;

    &:hover{
        scale: 1.1;
    }
}
.item-main .banner .img-blur .details .socials{
    display: flex;
    gap: 15px;
    position: absolute;
    bottom: 110px;
}
.item-main .banner .img-blur .details .socials .social{
    background-color: var(--plain--);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    transition: 0.2s ease-in-out;
    cursor: pointer;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover{
        scale: 1.2;
    }
}
.item-main .banner .img-blur .details .title{
    font-size: 40px;
    font-weight: 700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    animation: fadeIn 1s ease-in-out alternate;
}
.item-main .banner .img-blur .details .genre{
    font-family: 'Courier New', Courier, monospace;
    color: var(--orange--);
}
.falseUser-subBtn{
    background-color: #e44616;
    color: #fff;
}
@keyframes slideIn {
    from {
        width: 0px;
        opacity: 0;
    }
    to {
        width: 350px;
        opacity: 1;
    }
}
@keyframes fadeIn {
    from {
        width: 200px;
        opacity: 0;
    }
    to {
        width: 100%;
        opacity: 1;
    }
}
.item-main .details-wrapper{
    background-color: var(--plain--);
    max-width: 1000px;
    height: 500px;
    position: relative;
    top: -107px;
    margin: auto;
    padding: 10px;
    box-shadow: 0px 0px 20px -10px;
    border-radius: 10px;
}
.item-main .details-wrapper .top{
    /* background-color: red; */
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 5px 0px;
    gap: 10px;
    /* color: #000; */
    font-family: Arial, Helvetica, sans-serif;
}
.item-main .details-wrapper .top .attributes{
    cursor: pointer;
    transition: 0.2s linear;
    padding: 5px 10px;
    color: gray;

    &:hover{
        color: var(--orange--);
        border-bottom: 1px solid rgba(128, 128, 128, 0.301);
    }
}
.details-wrapper .info-wrapper .description .des::-webkit-scrollbar{
    display: none;
}
.details-wrapper .episodes-wrapper{
    margin: auto;
    margin-top: 5px;
    height: 450px;
    overflow-Y: scroll;
}
.details-wrapper .episodes-wrapper .ep{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid rgba(128, 128, 128, 0.13);
}
.details-wrapper .episodes-wrapper .ep .left{
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    gap: 20px;
}
.details-wrapper .episodes-wrapper .ep .left .img{
    width: 70px;
    height: 80px;
    object-fit: contain;
    object-position: center;
}
.details-wrapper .episodes-wrapper .ep .left .img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.details-wrapper .episodes-wrapper .ep .left a,
.details-wrapper .episodes-wrapper .ep{
    color: #000;
    text-decoration: none;
    font-size: 14px;
}
.details-wrapper .episodes-wrapper .ep .right{
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    color: gray;
}
.details-wrapper .info-wrapper{
    padding: 10px 20px;
    line-height: 30px;
    display: none;
}
.details-wrapper .info-wrapper span{
    color: var(--orange--);
    font-weight: 700;
    font-family: 'Times New Roman', Times, serif;
}
.details-wrapper .info-wrapper .description .des{
    overflow: scroll;
    height: 230px;
    position: relative;

    &::-webkit-scrollbar{
        display: none;
    }
}
.delete-icon{
    transform: rotate(0deg);
    color: #e44616;
    cursor: pointer;
    transition: 0.2s ease;
}

.delete-series-btn{
    position: absolute;
    right: 10px;
    bottom: 105px;
}

.delete-icon:hover{
    color: #000;
}

.modal {
display: none; 
position: fixed; 
z-index: 1; 
left: 0;
top: 0;
width: 100%; 
height: 100%; 
overflow: auto; 
background-color: rgba(0, 0, 0, 0.4); 
}

.modal-content {
background-color: #fefefe;
margin: 15% auto; 
padding: 20px;
border: 1px solid #888;
width: 80%; 
max-width: 400px;
border-radius: 6px;
}

.modal-content .close {
color: #aaa;
float: right;
font-size: 28px;
font-weight: bold;
}

.modal-content .close:hover,
.modal-content .close:focus {
color: #e44616;
text-decoration: none;
cursor: pointer;
transition: 0.3s ease;
transform-origin: center;
}

.modal-content .btn {
background-color: #e44616; 
color: white;
padding: 10px 20px;
margin: 10px 0;
border: none;
cursor: pointer;
width: 50%;
opacity: 0.9;
border-radius: 6px;
transition: 0.3s ease;
transform-origin: center;
}

.modal-content .btn:hover{
    box-shadow: 0px 0px 0px 5px #ffcfc1;
}

.modal-content .btn:hover {
opacity: 1;
}

.modal-content .cancelBtn {
background-color: #fff;
color: grey;
border: 1px solid;
transition: 0.3s ease;
transform-origin: center;
}
.modal-content .cancelBtn:hover{
    background-color: #d2d1d1;
    color: #fff;
    box-shadow: none;
}
.modal-btns{
    display: flex;
    gap: 10px;
}
.modal-content h2{
    text-align: center;
}
.modal-content p{
    text-align: center;
}
.sign-link-title{
    font-size: 13px;
    display: flex;
    justify-content: center;
    gap: 5px;
}
/* terms and condition */
.terms-container{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(240, 237, 237, 0.801);
    width: 100%;
    height: 100%;
    margin-top: 0;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 999;
}
.terms-container .terms{
    background-color: var(--plain--);
    position: relative;
    max-width: 400px;
    border: 1px solid var(--orange--);
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 500px;
    overflow-x: scroll;
    border-radius: 10px;
}
.details-wrapper .episodes-wrapper::-webkit-scrollbar{
    display: none;
}
.terms-container .terms::-webkit-scrollbar{
    display: none;
}
.terms-container h2,h3{
    text-align: center;
}
.terms-container h2,h3,b{
    color: #e44616;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.terms-container h3,b{
    font-size: 20px;
}
.terms-container ul,li,main,p,div{
    font-size: 13px;
}
.terms-container .terms p,ol,main{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.terms-container .terms .close{
    position: fixed !important;
    font-size: 30px !important;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    cursor: pointer !important;
    background-color: #abb8c37a !important;
    width: 30px !important;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/**************media-querries*************/
@media (max-width: 500px) {
    .item-main .banner .img-blur .details .title{
        display: none !important;
    }

}
@media (width < 767px) {
    .mobile-btn{
        display: flex;
        gap: 10px;
    }
    .laptop{
        display: none;
    }
    .author .author-nav{
        width: 100%;
        height: 50px;
        background-color: var(--orange--);
        position: relative;
        display: flex;
        justify-content: left;
        align-items: center;
        padding: 5px 5px;
    }
}
@media (max-width: 768px) {
    .email-passrecovery-wrapper{
        height: 65vh;
    }
    #email-pass-recovery{
        scale: 0.8;
        margin-top: 0px;
    }
    #pass-reset{
        scale: 0.8;
        margin-top: 0px;
    }
    .pop-message .message-box{
        scale: 0.8;
    }

    .mobile-scale{
        scale: 0.8;
    }

    .auth-body .mini{
        scale: 0.8;
    }
    #otp-form{
        scale: 0.8;
        margin-top: 0px;
    }
}
@media (max-width: 458px) {
    .mobile-display{
        display: none;
    }
    .cards .card .text{
        position: absolute;
        bottom: 0;
        width: 100%;
        text-align: left;
        color: #fcf5f5;
        font-weight: 600;
        background-color: rgba(19, 18, 18, 0.562);
        word-wrap: break-word;
        padding: 5px;
        font-size: 12px;
    }
    .cards{
        justify-content: center;
    }

    .genre-wrapper .search{
        padding-left: 10px;
        height: 40px;
        margin: auto;
        display: flex;
        border-radius: 0px;
    }
    .genre-wrapper .search .S-icon{
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
    }
    .add--scrip-container form{
        scale: 0.9;
    }
}

@media (max-width: 400px) {
    
    .mobile-scale-m{
        scale: 0.7 !important;
        transform: translateX(-40px);
    }
    .asktoregister-container .asktoregister-box{
        transform: scale(0.8);
    }

}
@media (max-width: 350px) {
    .pop-message .message-box{
        scale: 0.7 !important;
        transform: translateX(-80px);
    }
}
@media (max-width: 320px) {
    .dob-container{
        display: flex;
        width: 74%;
        margin-left: 40px;
    }
}

.asktoregister-container{
    background-color: #33333360;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
}
.asktoregister-container .asktoregister-box{
    width: 100%;
    max-width: 400px;
    height: 150px;
    background-color: var(--plain--);
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    z-index: 2;
}
.asktoregister-close{
    font-size: 20px;
    float: right;
    font-weight: 800;
    cursor: pointer;
    padding-right: 10px;
    width: 100%;
    text-align: right;
}
.asktoregister-box .asktoregister-btns{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
 .asktoregister-message{
    font-size: 20px;
    padding: 10px;
    font-family: var(--font---);
    text-align: center;
 }
.asktoregister-box div button{
    border: none;
    background-color: var(--orange--);
    padding: 10px;
    box-shadow: 1px 1px 5px 0px;
    border-radius: 10px;
    height: 40px;
    width: 100px;
    color: var(--plain--);
}
.asktoregister-box .asktoregister-btns button:hover{
    transform: scale(0.9);
}
.asktoregister-container .cover-close-ask{
    z-index: 1;
    background-color: transparent;
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: pointer;
}