<div class="add--scrip-container">
    <form id="add-scrip" class="add-scrip">
        <h3>Add New Scripture</h3>
        <div class="close">&times;</div>
        <div class="something">&timesb;</div>
        <div class="message"></div>
        <div class="add-scrip-input-wrapper">
            <label class="add-scrip-label">Book: </label>
            <input type="text" name="book" id="book" class="add-scrip-input">
        </div>
        <br>
        <div class="word-wrapper">
            <label class="">Word: </label>
            <textarea name="word" id="word"></textarea>
        </div>
        <br>
        <div class="btn-wrapper">
            <button>Submit</button>
        </div>
    </form>
</div>

<div class="show-script-form" title="Add New Scripture">
    <span class="script-add">
        <span class="material-symbols-outlined">
            menu_book
            </span>
    </span>
</div>

<div class="add-webtoon-form" title="Add a new webtoon">
    <a href="/twp/webtoon/upload">
        <span class="material-symbols-outlined">
            add_2
        </span>
    </a>
</div>

<script src="/js/scripturefrom.js"></script>